<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Fruit Details</h1>

    <p>Name: <%= foundFruit.name %></p>

    <form action="/fruits/delete/<%= foundFruit._id %>" method="post">
        <button>Delete Fruit</button>
    </form>

    <a href="/fruits/update/<%= foundFruit._id %>">Edit Fruit</a>
</body>
</html>